@use "@angular/material" as mat;

mat-card {
  margin: 1rem;

  mat-card-title {
    margin: 1rem;
    height: 2rem;

    display: flex;
    align-items: center;

    h2 {
      font-size: inherit;
      margin: 0 1rem;
    }

    mat-spinner {
      margin-left: 1rem;

      &[aria-hidden="true"] {
        visibility: hidden;
      }
    }
  }

  mat-card-content {
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  mat-card-actions {
    display: flex;
    padding: 1rem;
    padding-top: 0;
    gap: 1rem;

    justify-content: space-between;
    align-items: center;

    .left,
    .right {
      display: flex;
      align-items: center;
    }
  }
}

form.deleted mat-card-title h2 {
  text-decoration: line-through;
  color: var(--mat-sys-on-surface-variant);
}

.isHandset {
  mat-card-content {
    grid-template-columns: 1fr;
  }

  mat-card-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left,
    .right {
      display: contents;
    }

    .delete-definitely {
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
