<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset() ? 'dialog' : 'navigation'"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
  >
    <mat-nav-list>
      <h3 matSubheader>Books</h3>

      <a
        mat-list-item
        routerLink="/books"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <mat-icon matListItemIcon>view_list</mat-icon>
        All Books
      </a>

      <a
        mat-list-item
        routerLink="/books"
        [queryParams]="{ deleted: true }"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <mat-icon matListItemIcon>restore_from_trash</mat-icon>
        Deleted Books
      </a>

      <a
        mat-list-item
        [routerLink]="['books', 'add']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <mat-icon matListItemIcon>add</mat-icon>
        Add a book
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset()) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <header [class.isHandset]="isHandset()">
        <img src="logo.svg" alt="Books Logo" />
        <h1>Personnal Book Library</h1>
      </header>
    </mat-toolbar>

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
