@if (small()) {
<button
  mat-stroked-button
  type="button"
  [matMenuTriggerFor]="menu"
  class="small"
  disabled="!editable"
>
  <mat-icon inline="true">star</mat-icon>
  <span>{{ humanizeValue(value()) }}</span>
</button>
} @else {
<button
  mat-button
  type="button"
  [matMenuTriggerFor]="menu"
  class="large"
  disabled="!editable"
>
  @for (icon of icons(); track $index) {
  <mat-icon inline="true">{{ icon }}</mat-icon>
  }
</button>
}

<mat-menu #menu="matMenu">
  @for (value of [0, 2, 4, 6, 8, 10]; track $index) {
  <button mat-menu-item (click)="onClickOnNewValue(value)">
    <!-- @for (icon of getIcons(value); track $index) {
    <mat-icon>{{ icon }}</mat-icon>
    } -->

    <mat-icon>star</mat-icon>
    {{ humanizeValue(value) }}
  </button>
  }
</mat-menu>
